{% extends "base.html" %}

{% block content %}
<div class="container">
  <main>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$25</strong>
          </li>
        </ul>
      </div>

      <div class="col-md-7 col-lg-8">
        
        <h4 class="mb-3">Contact Info</h4>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="emailInput" value="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="col-12">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" value="111-111-1111" required>
          <div class="invalid-feedback">
            Please enter your phone number for 2FA.
          </div>
        </div>

        <hr class="my-4">

        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate>
          
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" value="Colin" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" value="Rood" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" value="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" value="Apartment or suite">
            </div>

            <div class="col-12">
              <label for="address" class="form-label">City</label>
              <input type="text" class="form-control" id="city" value="San Francisco" required>
              <div class="invalid-feedback">
                Please enter your shipping city.
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select class="form-select" id="country" value="United States" required>
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">State</label>
              <select class="form-select" id="state" value="California" required>
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" value="94117" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Card information</h4>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input type="text" class="form-control" id="cc-name" value="Colin Rood" required>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" value="4111111111111111" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration Month</label>
              <input type="text" class="form-control" id="cc-expiration-month" value="01" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration Year</label>
              <input type="text" class="form-control" id="cc-expiration-year" value="30" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" value="111" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>

          <hr class="my-4">
          
          <!-- Enroll checkbox + text rendered by GoCart SDK -->
          <div id="save-info"></div>

          <hr class="my-4">

        </form>

        <div id="gocart-button-holder"></div>
        <button class="w-100 btn btn-primary btn-lg" onclick="checkout()">Continue to checkout</button>

      </div>
    </div>
  </main>
</div>

{% endblock %}

{% block script %}

<script src="https://api-staging.gocartpay.com/merchants/73eaaefe-2be8-4099-aee9-9c5eddcdd5fa/sdk"></script>

<script>
  // order data
  const order = {
    "lineItems": [
      {
        name: 'some item 1',
        amount: 25,
        SKU: 'SKU1',
        category: 'some category'
      },
      {
        name: 'some item 2',
        amount: 25,
        SKU: 'SKU2',
        category: 'some category'
      }],
    "subtotal": 50,
    "total": 50,
    "currencyCode": "USD",
    "orderId": crypto.randomUUID(),
    "orderDescription": new Date()
  }
  console.log("order object:");
  console.log(order);

  // initialize SDK
  const gocart = new GoCartSDK.Button({
    orderDetailsCallback: async (actions) => {
        // send to DB
      const request = new XMLHttpRequest();
      const url = "/orders";
      const method = "POST";

      request.open(method, url);
      request.setRequestHeader("Content-Type", "application/json");
      request.onreadystatechange = () => {
        if (request.readyState === XMLHttpRequest.DONE) {
          console.log("order added to DB successfully");
        }
      }
      request.send(JSON.stringify(order));
      
      actions.createOrder(order);
    },
    success: (orderId, customerInfo, shippingInfo, billingInfo, shippingMethod, taxes, transactionDetails) => {
      console.log(`Successfully processed order ${orderId}`);
      console.log(customerInfo);
    },
    error: (orderId, errorCode, errorMessage) => {
      console.log(`Error processing order ${orderId}.`);
      console.log(errorCode);
      console.log(errorMessage);
    },
    getOrderId: (orderId) => { console.log(orderId); }
  })
  
  // render button
  gocart.render("gocart-button-holder");

  // check email field for Expedited Guest Checkout
  document.getElementById("emailInput").addEventListener("change", (e) => {
    gocart.guestRedirect(e.target.value);
  });

  // enrollment button
  let shouldEnroll = true;
  gocart.render({
    enroll: {
      id: "save-info",
      defaultValue: true,
      onChange: (isChecked) => {
        shouldEnroll = isChecked
      }
    }
  });

  function checkout() {
    console.log("checkout start");
    const customerInfo =       {
      "firstName": document.getElementById("firstName").value, // Optional
      "lastName": document.getElementById("lastName").value, // Optional
      "phoneNumber": document.getElementById("phoneNumber").value,
      "emailAddress": document.getElementById("emailInput").value,
      "paymentMethods": [ // Can be empty array
        {
          "nickName": "string", // Optional
          "fullnameCard": document.getElementById("cc-name").value,
          "cardNumber": document.getElementById("cc-number").value,
          "expMonth": parseInt(document.getElementById("cc-expiration-month").value),
          "expYear": parseInt(document.getElementById("cc-expiration-year").value)
        }
      ],
      "addresses": [ // Can be empty array
        {
          "firstName": document.getElementById("firstName").value,
          "lastName": document.getElementById("lastName").value,
          "company": "string", // Optional
          "address1": document.getElementById("address").value,
          "address2": document.getElementById("address2").value, // Optional
          "city": document.getElementById("city").value,
          "state": document.getElementById("state").value,
          "country": document.getElementById("country").value,
          "zip": document.getElementById("zip").value,
          "phoneNumber": document.getElementById("phoneNumber").value // Optional
        }
      ]
    };
    console.log(customerInfo);

    if (shouldEnroll) {
      console.log("enrolling");
      gocart.enrollCustomer(customerInfo);
      console.log("enrolled");
    }
    console.log("checkout end");
  }
</script>

{% endblock %}